<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div *ngIf="!cargando && showParametros" class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="card-title">Filtros <button type="button" *ngIf="showResultado" (click)="showParametros = !showParametros;" class="col-1 btn waves-effect waves-light btn-xs btn-info">Ocultar Filtros</button></h3>
            <div class="card-body">

                <form #f="ngForm" (ngSubmit)="cargarReporte()" ngNativeValidate class="row">
                    <div class="form-group col-md-6">
                        <label for="dpInicio">Fecha Inicial</label>
                        <div class="input-group">
                            <input [(ngModel)]="parametros.FecInicio" class="form-control" placeholder="yyyy-mm-dd" showWeekNumbers="true" name="dpInicio" ngbDatepicker #dInicio="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dInicio.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dpFinal">Fecha Final</label>
                        <div class="input-group">
                            <input [(ngModel)]="parametros.FecFinal" class="form-control" placeholder="yyyy-mm-dd" showWeekNumbers="true" name="dpFinal" ngbDatepicker #dFinal="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dFinal.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="sucursal">Sucursales</label>
                        <ng-select [(ngModel)]="parametros.sucursales" name="sucursal" [items]="sucursales" [multiple]="true" [closeOnSelect]="true" [searchable]="false" bindLabel="Nombre" placeholder="Todas">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Generar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="resultados !== undefined">
    <div class="col-12">
        <div class="card">
            <div>
                <div class="text-right float-right">
                    <button (click)="exportAsXLSX()" type="button" class="btn waves-effect waves-light btn-rounded btn-success">
                        <i class="fa fa-arrow-down"></i> 
                        Excel
                    </button>
                </div>
                <div class="text-left float-left">
                    <h3 class="card-title">Resultados</h3>
                </div>
            </div>

            <div class="table-responsive">

                <table id="myTable" class="table table-bordered">
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="text-center" *ngFor="let f of resultados.dias" colspan="3">{{ f | date: 'yyyy-MM-dd' }}</td>
                        </tr>
                        <tr>
                            <td *ngFor="let c of resultados.columData">{{ c }}</td>
                        </tr>
                        <tr *ngFor="let r of resultados.rowData">
                            <td *ngFor="let d of r; let i = index"> {{ d }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>