<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarUsuario( input.value )" type="text" class="form-control" placeholder="Buscar usuario por nombre...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button *ngIf="permiso?.agregar" [routerLink]="['/users/0']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i> 
                      Crear Usuario
                  </button>
                </div>

                <h3 class="card-title">Usuarios registrados ( <small>{{ totalRegistros }}</small> )</h3>

                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Estatus</th>
                            <th>Grupo</th>
                            <th>Contraseña</th>
                            <th>Cambiar Clave</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>
                                {{ usuario.Nombre }}
                            </td>
                            <td>
                                {{ usuario.NombreUsuario }}
                            </td>
                            <td>
                                <select [(ngModel)]="usuario.Estatus" name="estado" class="form-control">
                                  <option *ngFor="let esta of estados" [ngValue]="esta.Id">{{ esta.Nombre }}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="usuario.RolId" name="rol" class="form-control">
                                  <option *ngFor="let rol of roles" [ngValue]="rol.Id">{{ rol.Descripcion }}</option>
                                </select>
                            </td>
                            <td>
                                <input [(ngModel)]="usuario.Password" name="password" type="password" class="form-control" placeholder="Constraseña" />
                            </td>
                            <td>
                                <div>
                                    <input [(ngModel)]="usuario.CambiarPassword" name="actualizarPassword" [id]="usuario.Id" type="checkbox" class="filled-in chk-col-light-blue" />
                                    <label [for]="usuario.Id">  </label>
                                </div>
                            </td>
                            <td>
                                <button *ngIf="permiso?.modificar" (click)="modificarUsuario( usuario )" class="btn btn-primary">
                                  <i class="fa fa-save"></i>
                                </button>

                                <button *ngIf="permiso?.modificar" [routerLink]="['/users', usuario.Id ]" class="btn btn-primary" title="Editar Usuario">
                                  <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <button (click)="cambiarDesde(-1)" class="btn btn-secondary">
                  Anteriores
                </button>

                <button (click)="cambiarDesde(1)" class="btn btn-secondary">
                  Siguientes
                </button>

            </div>
        </div>
    </div>
</div>