<div class="row">

    <div class="col-md-4">
        <!-- Column -->
        <div class="card"> <img class="" src="../assets/images/background/profile-bg.jpg" alt="Card image cap">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img [src]="usuario | imagen" alt="user"></div>
                <h3 class="m-b-0"> {{ usuario.Nombre }} </h3>
                <p>{{ perfil.puesto }}</p>

                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light"> {{ perfil.requisiciones }} </h3><small>Requisiciones</small></div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light"> {{ perfil.enviados }} </h3><small>Envíos</small></div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light"> {{ perfil.confirmados }} </h3><small>Confirmaciones</small></div>
                    <div class="col-md-12 m-b-10"></div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

    <div class="col-md-8">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Cambiar Contraseña</h3>
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="cambiarPassword()">
                        <div class="form-group">
                            <label for="actualpass">Contraseña Actual</label>
                            <input type="password" [(ngModel)]="usuario.Password" class="form-control" name="actualpass" placeholder="Contraseña Actual" />
                        </div>
                        <div class="form-group">
                            <label for="pass">Nueva Contraseña</label>
                            <input type="password" [(ngModel)]="usuario.NewPassword" class="form-control" name="pass" placeholder="Nueva Contraseña" />
                        </div>
                        <div class="form-group">
                            <label for="conf">Confirmar Contraseña</label>
                            <input type="password" [(ngModel)]="usuario.ConfPassword" class="form-control" name="conf" placeholder="Confirmar Contraseña" />
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>