<div class="row">
    <div class="col-12">
        <div class="ribbon-wrapper card">
            <div class="ribbon ribbon-info">{{ requi.DesEstatus }}</div>
            <div class="card-body">
                <h3 class="card-title text-center">Requisición: {{ requi.Id }} <span>{{ requi.cliente.Descripcion }}</span> </h3>
                <h4 class="card-title text-center"> {{ requi.fecha | fecha }} <span class="card-subtitle">H</span> {{ requi.Hombres }} <span class="card-subtitle">M</span> {{ requi.Mujeres }} <span class="card-subtitle">I</span> {{ requi.Indistinto }} </h4>
                <hr>
                <h3 class="card-title"></h3>
                <div class="col-6">
                    <h3 class="card-title"> Restante <span class="card-subtitle">H</span> {{ T_H }} <span class="card-subtitle">M</span> {{ T_M }} <span class="card-subtitle">I</span> {{ T_I }} </h3>
                    <h4 class="card-title"> Envios <span class="card-subtitle">H</span> {{ TEnvio.hombre }} <span class="card-subtitle">M</span> {{ TEnvio.mujer }} <span class="card-subtitle">I</span> {{ TEnvio.indistinto }} </h4>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="card-title">Enviar</h3>
            <div class="card-body">

                <form #f="ngForm" (ngSubmit)="guardar()" ngNativeValidate class="row">

                    <div class="form-group col-md-4">
                        <label>H</label>
                        <input [(ngModel)]="envio.hombre" min="0" [max]="T_H" name="hombres" type="number" class="form-control form-control-line" placeholder="Hombres" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label>M</label>
                        <input [(ngModel)]="envio.mujer" min="0" [max]="T_M" name="mujeres" type="number" class="form-control" placeholder="Mujeres" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label>I</label>
                        <input [(ngModel)]="envio.indistinto" min="0" [max]="T_I" name="indistinto" type="number" class="form-control" placeholder="Indistintos" required />
                    </div>

                    <div class="form-group col-md-12">
                        <button *ngIf="permiso.agregar" type="submit" class="btn btn-info waves-effect waves-light m-r-10">Guardar</button>
                        <a href="#" [routerLink]="['/requis']" class="btn btn-inverse waves-effect waves-light m-r-10">Cancelar</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="card-title">Envios Realizados</h3>
            <div class="card-body">

                <div *ngIf="requi.envios.length === 0" class="alert alert-warning" role="alert">
                    No se ha enviado personal a esta requisición.
                </div>

                <table *ngIf="requi.envios.length > 0" class="table table-sm color-bordered-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th> H </th>
                            <th> M </th>
                            <th> I </th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let env of requi.envios">
                            <td>{{ env.id }} </td>
                            <td>{{ env.fecha | fecha }}</td>
                            <td>{{ env.hombre }}</td>
                            <td>{{ env.mujer }}</td>
                            <td>{{ env.indistinto }}</td>
                            <td>{{ env.usuario.Nombre }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>